<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Vue Practice</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <h1>{{ product }}</h1>
    <div class="cart">Cart{{ cart }}</div>
    <div class="product-image">
        <img v-bind:src="image">
    </div>
    <p v-if="inStock">In Stock</p>
    <p v-else>Out of Stock</p>
    <ul>
        <li v-for="detail in details">{{ detail }}</li>
    </ul>
    <!--            :colorと記述するのに注意、キャメルケースで書いた方が楽（スネークだとちょっと書き方変わる）-->
    <div
            v-for="variant in variants"
            :key="variant.id"
            @mouseover="updateImage(variant.image)"
            class="color-radius"
            :style="{backgroundColor: variant.color}">
    </div>
<!--    inStock出ない時の処理とボタンの色-->
    <button
            class="button"
            @click="addToCart"
            :disabled="!inStock"
            :class="{disabledButton: !inStock}"
    >Add to Cart</button>
</div>

<!--import-->
<script src="main.js"></script>

<!--mount-->
<script>
    const mountedApp = app.mount('#app')
</script>
</body>
</html>
